html, body
{
height: 100%;
margin: 0;
}

body{
    background: rgb(255,0,0);
background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(187,237,14,1) 50%, rgba(23,173,221,1) 100%);
}

#picture{
width : 50px;
height : 50px
}